/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23.01.2019, 09:59:37
    Author     : mariobaer
*/

.pimcore_icon_download_sidebar {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/low_priority.svg) center center no-repeat !important;
}

#pimcore_navigation li.export_tab, #pimcore_navigation li.tasks_tab {
    text-indent: -9999px; /* hide text contents */
    background-position: center center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#pimcore_navigation li.export_tab {
    background-image: url(/bundles/pimcoreadmin/img/flat-color-icons/download.svg);
}

#pimcore_navigation li.tasks_tab {
    background-image: url(/bundles/pimcoreadmin/img/flat-color-icons/parallel_tasks.svg);
}