.albums .album .share {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    right: 10px;
}

.albums .album .share:after {
    content: "";
    background: url("/../static/img/icon_share.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 25px;
}

.nav span:hover {
    cursor: pointer;
}