.archives {
    margin: 0 -5px 15px;
    padding: 0 20px;
}

.archives  .archive {
    padding: 5px;
}

.archives  .archive a {
    display: block;
    position: relative;
}

.archives  .archive a:after {
    content: "";
    background: url("/../static/img/icon_arrow_right_white.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 36px;
    height: 16px;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.archives  .archive a:hover:after {
    opacity: 1;
    right: 10px;
}

.archives .archive img {
    width: 100%;
}

@media (max-width: 1470px) {
    .archives {
        padding: 0 15px;
    }
}