.asset-detail-full-modal .modal-dialog {
    margin-top: 60px;
    text-align: center;
    width: calc(100% - 20px);
}

.asset-detail-full-modal .modal-content {
    border: none;
    padding: 0;
    display: inline-block;
}

.asset-detail-full-modal .close {
    top: -35px;
    position: absolute;
    right: 0;
}

.asset-detail-full-modal .modal-content img {
    max-height: calc(100vh - 80px);
    max-width: 100%;
}