.button {
    background: #212121;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #bab9b9;
    transition: 0.3s;
    font-family: FiraSans Medium;
    border: none;
    cursor: pointer;
}

.button.yellow {
    color: #212121;
    background: #ffd20a;
}

.button.white {
    color: #212121;
    background: white;
    border: 1px solid #212121;
}

.button:hover,
.button:focus {
    color: #212121;
    background: #ffd20a;
    border-color: #ffd20a;
}

.button.secondary {
    background: #212121;
    padding: 7px 20px;
    text-transform: uppercase;
    color: #bab9b9;
    border: 1px solid;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.button.secondary:hover,
.button.secondary:focus {
    color: #ffd20a;
}

.big-button {
    background: #333333;
    color: white;
    font-weight: bold;
    padding: 30px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 36px;
    margin: 20px 0 40px;
    transition: 0.3s;
}

.big-button:hover,
.big-button:focus {
    text-decoration: none;
    color: white;
}