.pimcore_area_gallery-carousel {
    margin-bottom: 5px;
}

.pimcore_area_gallery-carousel img {
    width: 100%;
    max-width: auto;
}

.carousel-caption {
    left: 20px;
    right: 20px;
}

.carousel-caption.white {
    color: white;
}

.carousel-caption.black {
    color: black;
}

.carousel-caption.red {
    color: #dc002d;
}

.carousel-caption.top {
    bottom: auto;
    top: 10%;
}

.carousel-caption.center {
    bottom: auto;
    top: 40%;
}

.carousel-caption.bottom {
    bottom: 10%;
}

.carousel-caption.left {
    left: 40px;
    right: 30%;
}

.carousel-caption.center {
    left: 40px;
    right: 40px;
}

.carousel-caption.right {
    right: 40px;
    left: 30%;
}

.carousel-caption h3 {
    font-size: 56px;
    text-shadow: none;
    font-weight: bold;
    margin: 0 0 10px;
}

.carousel-caption h4 {
    font-size: 48px;
    text-shadow: none;
    margin: 0;
}

.carousel-caption p {
    font-size: 18px;
    text-shadow: none;
    margin-top: 40px;
}

.carousel-caption .button {
    text-shadow: none;
    background: #eaedea;
    border-radius: 0;
    font-size: 16px;
    border: 1px solid;
    padding: 15px 30px;
    display: inline-block;
    min-width: 120px;
    margin-top: 50px;
}

.carousel-indicators.top {
    bottom: auto;
    top: 40px;
}

.carousel-indicators li {
    background: none !important;
    width: 20px !important;
    height: 20px !important;
    transition: 0.3s;
    position: relative;
    margin: 0;
    border: none;
}

.carousel-indicators li:before,
.carousel-indicators li:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    top: 0;
    left: 0;
}

.carousel-indicators li:before {
    background: url("/../static/img/icon_slider.png");
}

.carousel-indicators li:after {
    background: url("/../static/img/icon_slider_active.png");
    opacity: 0;
}

.carousel-indicators li.active:after,
.carousel-indicators li:hover:after,
.carousel-indicators li:focus:after {
    opacity: 1;
}

.carousel-inner .item {
/*
    height: 520px;
    background-position: center center;
    background-repeat: no-repeat;
*/
}

.carousel-inner .item.gray {
    background: #e6e6e6;
}

.carousel-inner .item.red {
    background: #dc002d;
}