.faq-block {
    margin-bottom: 50px;
    min-height: 500px;
    padding: 0 20px;
}

.faq-block .title-block .title {
    font-size: 28px;
    font-family: FiraSans Medium;
    text-align: center;
    display: inline-block;
}

.faq-block .close-screen {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 15px;
    cursor: pointer;
}

.faq-block .close-screen::before {
    content: "";
    background: url("/../static/img/icon_X.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 0;
}

.faq-block .question {
    padding: 10px 15px;
    background: #3e3e3e;
    color: white;
    font-family: FiraSans Medium;
    position: relative;
    cursor: pointer;
}

.faq-block .question::before,
.faq-block .question::after {
    content: "";
    background: url("/../static/img/icon_chevron_down_white.png");
    background-repeat: no-repeat !important;
    width: 12px;
    height: 7px;
    position: absolute;
    right: 15px;
    top: 17px;
    transition: 0.3s;
}

.faq-block .question::before {
    background: url("/../static/img/icon_chevron_down_white.png");
}

.faq-block .question::after {
    background: url("/../static/img/icon_chevron_up_white.png");
    opacity: 0;
}

.faq-block .entry {
    margin-bottom: 4px;
}

.faq-block .entry.open .question:before {
    opacity: 0;
}

.faq-block .entry.open .question:after {
    opacity: 1;
}

.faq-block .answer {
    display: none;
    padding: 15px;
    border: 1px solid #3e3e3e;
}

@media (max-width: 1470px) {
    .faq-block {
        padding: 0 15px;
    }
}