footer > .container {
    background: #000000;
    color: white;
    padding: 20px 25px;
}

footer p,
footer a {
    color: white;
    margin: 0;
    font-family: FiraSans Light;
    font-size: 12px;
    line-height: 24px;
}

footer a:hover,
footer a:focus {
    color: white;
}

@media (max-width: 1470px) {
    footer > .container {
        padding: 20px 15px;
    }
}

@media (max-width: 767px) {
    footer .container > .row > div:first-child {
        margin-bottom: 10px;
    }
}

