@font-face {
    font-family: FiraSans Thin;
    src: url("/../static/fonts/FiraSans-Thin.ttf");
}

@font-face {
    font-family: FiraSans Light;
    src: url("/../static/fonts/FiraSans-Light.ttf");
}

@font-face {
    font-family: FiraSans Regular;
    src: url("/../static/fonts/FiraSans-Regular.ttf");
}

@font-face {
    font-family: FiraSans Medium;
    src: url("/../static/fonts/FiraSans-Medium.ttf");
}

@font-face {
    font-family: FiraSans SemiBold;
    src: url("/../static/fonts/FiraSans-SemiBold.ttf");
}

@font-face {
    font-family: FiraSans Bold;
    src: url("/../static/fonts/FiraSans-Bold.ttf");
}

body {
    padding-bottom: 0px;
    color: #000000;
    font-family: FiraSans Regular;
    font-size: 14px;
}

.row,
div[class*="col-"] {
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    transition: 0.3s;
}

a:hover,
a:focus {
    color: #000000;
    text-decoration: none;
    outline: none !important;
}

h1 {
    font-family: FiraSans Bold;
    font-size: 28px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input.small {
    width: calc(100% - 10px);
    border: 1px solid #212121;
    padding: 0 8px;
    line-height: 24px;
    position: relative;
    top: -1px;
}

.container {
    padding: 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.container {
    width: 100%;
}

.container.content.media > .container {
    padding-left: 0;
    padding-right: 0;
}

main .container > .content {
    min-height: 100px;
}

.title-block {
    text-align: center;
    padding: 20px;
}

.title-panel {
    background: #3e3e3e;
    padding: 15px;
    color: white;
    margin-bottom: 15px;
    text-transform: uppercase;
    float: left;
    width: 100%;
}

.title-panel p {
    margin: 0;
}

.title-panel p .count {
    font-family: FiraSans Light;
    margin-left: 10px;
}

.title-panel .all {
    float: right;
    color: white;
    position: relative;
    padding-right: 15px;
    font-family: FiraSans Light;
}

.title-panel .all:after {
    content: "";
    background: url("/../static/img/icon_arrow_right_small_white.png");
    background-repeat: no-repeat;
    width: 6px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 5px;
}

.yellow {
    color: #ffd20a;
}

.grey {
    color: #7f7e7e;
}

.loading {
    width: 100%;
    text-align: center;
    margin: 100px 0;
}

.loading .text {
    line-height: 32px;
    padding-left: 40px;
    position: relative;
    display: inline-block;
}

.loading .text:before {
    content: "";
    background: url("/../static/img/loading.gif");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
}

.right {
    float: right;
}

.container.horizontal-catalog-bar {
    padding: 0 20px;
}

@media (max-width: 1470px) {
    .container {
        width: 100%;
    }
    
    .container.horizontal-catalog-bar {
        padding: 0 15px;
    }
}

.container.content.media {
    min-height: 200px;
}