body.editmode header {
    position: relative;
}

header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

header.scroll {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header .container {
    padding: 15px 0 0;
}

header .navbar-brand {
    padding: 0;
    height: 40px;
}

header .logo {
    overflow: auto;
    display: inline-block;
    width: 230px;
    float: left;
}

header .header-actions {
    display: inline-block;
    float: left;
    width: calc(100% - 230px);
    padding-right: 250px;
    position: relative;
}

header .header-actions a {
    font-family: FiraSans Medium;
    line-height: 32px;
    min-height: 32px;
    padding: 0 30px;
    position: relative;
}

header .header-actions a.mobile-only {
    display: none;
}


header .header-actions a p {
    display: inline-block;
}

header .header-actions .faq,
header .header-actions .notifictaions {
    float: left;
}

header .header-actions .my-collection-inactive,
header .header-actions .my-collection-active,
header .header-actions .my-albums,
header .header-actions .invite-user {
    float: right;
}

header .header-actions a:before,
header .header-actions a:after {
    content: "";
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
    right: 0;
    transition: 0.3s;
    top: 0;
}

header .header-actions a:after {
    opacity: 0;
}

header .header-actions a:hover:before,
header .header-actions a:focus:before {
    opacity: 0;
}

header .header-actions a:hover:after,
header .header-actions a:focus:after {
    opacity: 1;
}

header .header-actions .faq:before,
header .header-actions .faq:after {
    background: url("/../static/img/icon_faq.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 23px;
    right: -5px;
}

header .header-actions .faq:before {
    background: url("/../static/img/icon_faq.png");
    background-repeat: no-repeat;
}

header .header-actions .faq:after {
    background: url("/../static/img/icon_faq_yellow.png");
    background-repeat: no-repeat;
}

header .header-actions .notifications:before,
header .header-actions .notifications:after {
    width: 20px;
    height: 24px;
    top: -7px;
    right: 3px;
}

header .header-actions .notifications:before {
    background: url("/../static/img/icon_notification.png");
    background-repeat: no-repeat;
}

header .header-actions .notifications:after {
    background: url("/../static/img/icon_notification_yellow.png");
    background-repeat: no-repeat;
}

header .header-actions .my-collection-inactive:before,
header .header-actions .my-collection-inactive:after,
header .header-actions .my-collection-active:before,
header .header-actions .my-collection-active:after{
    width: 17px;
    height: 17px;
    margin-top: 4px;
}

header .header-actions .my-collection-inactive:before,
header .header-actions .my-collection-inactive:after{
    background: url("/../static/img/icon_my_collection.png");
    background-repeat: no-repeat;
}

header .header-actions .my-collection-active:before,
header .header-actions .my-collection-active:after{
    background: url("/../static/img/icon_my_collection_yellow.png");
    background-repeat: no-repeat;

}

header .header-actions .my-albums:before,
header .header-actions .my-albums:after {
    width: 24px;
    height: 20px;
}

header .header-actions .my-albums:before {
    background: url("/../static/img/icon_my_album.png");
    background-repeat: no-repeat;
}

header .header-actions .my-albums:after {
    background: url("/../static/img/icon_my_album_yellow.png");
    background-repeat: no-repeat;
}

header .header-actions .invite-user:before,
header .header-actions .invite-user:after {
    width: 26px;
    height: 20px;
}

header .header-actions .invite-user:before {
    background: url("/../static/img/icon_invite_user.png");
}

header .header-actions .invite-user:after {
    background: url("/../static/img/icon_invite_user_hover.png");
}

header .navbar-toggle {
    display: none;
}

@media (max-width: 1470px) {
    header .container {
        padding: 15px 0 0;
    }
}

@media (max-width: 1200px) {
    header .logo {
        width: 200px;
    }
    
    header .header-actions {
        margin-top: 4px;
        width: calc(100% - 200px);
        padding: 0;
    }
    
    header .header-actions .my-collection-inactive, 
    header .header-actions .my-collection-active, 
    header .header-actions .my-albums, 
    header .header-actions .invite-user {
        float: left;
    }
    
    header .header-actions > a > p {
        display: none;
    }    
}

@media (min-width: 721px) {
    header .header-actions {
        display: block !important;
    }
}

@media (max-width: 720px) {
    header {
        position: relative;
        box-shadow: none !important;
    }
    
    header .container {
        padding-top: 10px;    
    }
    
    header .navbar-toggle {
        display: inline-block;
        border: 1px solid #dadada;
        border-radius: 0;
        margin-top: 0;
        margin-right: 0;
        padding-top: 8px;
    }
    
    header .navbar-toggle .icon-bar {
        background: #3e3e3e;
    }
    
    header .header-actions {
        display: none;
        width: 100%;
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    }
    
    header .header-actions a {
        display: block;
        width: 100%;
        border-bottom: 1px solid #3e3e3e;
        float: left;
        padding-left: 10px;
        line-height: 38px;
        overflow: auto;
    }
    
    header .header-actions a:last-of-type {
        border-bottom: none;
    }
    
    header .header-actions > a > p {
        display: inline-block;
        margin: 0;
    }
    
    header .header-actions a::before, 
    header .header-actions a::after {
        display: none;
    }
    
    header .header-actions .profile-dashboard {
        display: none;
    }
    
    header .header-actions a.mobile-only {
        display: block;
    }
    
/*
    header .header-actions {
        margin-top: 0;
        text-align: right;
    }
    
    header .header-actions .my-collection-inactive, 
    header .header-actions .my-collection-active, 
    header .header-actions .my-albums, 
    header .header-actions .invite-user {
        float: initial;
    }
    
    header .header-actions .profile-dashboard {
        position: relative;
        width: auto;
        margin: 0;
        display: inline-block;
        float: right;
        top: -7px;
    }
    
    header .header-actions .profile-dashboard .toggle {
        background: transparent;
        height: 40px;
    }
    
    header .header-actions .profile-dashboard .toggle::before, 
    header .header-actions .profile-dashboard .toggle::after {
        margin-top: -2px;   
    }
    
    header .header-actions a {
        line-height: 24px;
    }
    
    header .header-actions .profile-dashboard .toggle .name {
        display: none;
    }
    
    header .header-actions .profile-dashboard.open {
        width: 230px;
        position: absolute;
    }
    
    header .header-actions .profile-dashboard.open .toggle {
        background: black;
    }
*/
}

@media (max-width: 480px) {
/*
    header .header-actions {
        width: 170px;
    }
    
    header .header-actions a {
        padding: 0 20px;
    }
    
    header .logo {
        width: calc(100% - 170px);
    }
    
    header .logo .navbar-brand > img {
        max-width: 100%;
    }
*/
}