.jconfirm-box {
    border-top: none !important;
    border-radius: 0 !important;
}

.jconfirm div[class*="justify-content"] {
    text-align: center;
}

.jconfirm-box-container {
    display: inline-block !important;
    float: inherit !important;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn {
    display: inline-block;
    font-size: 12px;
    color: white !important;
    border: 1px solid #3e3e3e;
    position: relative;
    background: black !important;
    font-family: FiraSans Medium;
    font-weight: normal;
    border-radius: 0;
    padding: 0 20px;
    line-height: 32px;
    transition: 0.3s;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn:hover {
    color: #3e3e3e !important;
    border-color: #ffd20a !important;
    background: #ffd20a !important;
}