.loading-overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    text-align: center;
    transition: 0.3s;
    display: none;
}

.loading-overlay .inner {
    margin: 300px auto;
    display: block;
}

.loading-overlay .inner p {
    font-family: FiraSans SemiBold;
}