.login-container {
    background: url("/../static/img/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%; 
    left: 0;
    top: 0;
}

.login-container .block {
    position: relative;
    background: white;
    top: 200px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    border: 1px solid #ffd20a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.login-container .block .inner {
    padding: 35px;
    text-align: right;
}

.login-container .block .inner .title {
    font-family: FiraSans SemiBold;
    font-size: 24px;
    margin: 0 0 20px;
}

.login-container .block .inner label {
    display: block;
    font-weight: normal;
}

.login-container .block .inner input {
    display: block;
    width: 100%;
    line-height: 34px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 0;
    height: 34px;
}

.login-container.has-error .block .inner input {
    border-color: #e30613;
}

.login-container .block .inner input:focus {
    outline: 0 !important;
}

.login-container .block .inner .password-forgot {
    margin-bottom: 20px;
}

.login-container .block .inner .password-forgot a {
    color: #646363;
    transition: 0.3s;
}

.login-container .block .inner .password-forgot a:hover {
    color: black;
}

.login-container .block .inner .button {
    border: 0;
    color: white;
    font-family: FiraSans Regular;
    padding: 10px 30px;
}

.login-container .block .inner .button:hover {
    color: black;
}

.login-container .block .inner .error {
    color: #f55656;
    margin-bottom: 15px;
}

.login-container .block .inner .back-link {
    margin-bottom: 20px;
    color: #646363;
    transition: 0.3s;
    display: block;
    width: 100%;
}

.login-container .block .inner .back-link:hover {
    color: black;
}

.login-container .block .inner .hint {
    margin-bottom: 20px;
}

.login-container .block .inner p,
.login-container .block .inner a,
.login-container .block .inner .title,
.login-container .block .inner label,
.login-container .block .inner input,
.login-container .block .inner .password-forgot,
.login-container .block .inner .error {
    text-align: left;
}

@media (max-width: 480px) {
    .login-container .block .inner .button {
        width: 100%;
    }
}