main {
    margin-top: 55px;
}

main h1.title {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 40px;
}

main.editmode {
    margin-top: 200px;
}

@media (max-width: 1470px) {
    .container.content-page > .container {
        padding: 0;
    }
}

@media (max-width: 720px) {
    main {
        margin-top: 0;
    }
}