.collection-download-modal .modal-dialog,
.collection-share-modal .modal-dialog {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.collection-download-modal .modal-header .title,
.collection-share-modal .modal-header .title {
    margin: 0;
    text-transform: uppercase;
}

.collection-download-modal .asset-image {
    border-right: 1px solid #a7a7a7;
}

.collection-download-modal .asset-image img {
    max-width: 100%;
    max-height: 100px;
    border: 1px solid #6a6e6e;
}

.collection-download-modal .modal-body,
.collection-share-modal .modal-body {
    margin: 10px 0;
    padding: 0;
}

.collection-download-modal .download-file {
    border-bottom: 1px solid #a7a7a7;
    padding: 8px 5px;
}

.collection-download-modal .infos {
    padding: 10px 20px;
}

.collection-download-modal .article-number-text {
    font-family: FiraSans Medium;
}

.collection-download-modal .select2-search {
    display: none;
}

.collection-download-modal .collection-download {
    text-align: right;
}

.collection-download-modal .collection-download .button {
    min-width: 50%;
    text-align: left;
    position: relative;
}

.collection-download-modal .collection-download .button:after {
    content: "";
    background: url("/../static/img/icon_download_black.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 9px;
}

.collection-share-modal label {
    width: 100%;
    display: block;
    font-weight: normal;
}

.collection-share-modal .select2 {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.collection-share-modal .error {
    display: block;
}

.collection-share-modal .collection-download {
    margin-top: 20px;
    text-align: right;
}

@media (max-width: 620px) {
    .collection-download-modal .modal-dialog {
        width: calc(100% - 20px);
    }
    
    .collection-download-modal .select2-container {
        width: 100% !important;
    }
    
    .collection-download-modal .infos {
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .collection-download-modal .modal-dialog .download-file .row > div {
        width: 100%;
    }
    
    .collection-download-modal .asset-image {
        border-right: 0;
    }
    
    .collection-download-modal .infos {
        padding: 10px 0;
    }
    
    .collection-download-modal .collection-download .button {
        width: 100%;
    }
}