.horizontal-media-dashboard {
    position: fixed;
    width: 100%;
    bottom: -42px;
    left: 0;
    border-top: 3px solid #ffd20a;
    transition: 0.3s;
    z-index: 1000;
}

.horizontal-media-dashboard.visible {
    bottom: 0;
}

.horizontal-media-dashboard .toggle {
    position: absolute;
    background: #ffd20a;
    width: 42px;
    height: 42px;
    right: calc(50vw - 650px);
    top: -42px;
    cursor: pointer;
    pointer-events: all;
    transition: 0.3s;
    opacity: 1;
}

.horizontal-media-dashboard .toggle:before,
.horizontal-media-dashboard .toggle:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    transition: 0.3s;
}


.horizontal-media-dashboard .toggle:before {
    background: url("/../static/img/icon_plus_black_big.png");
    background-repeat: no-repeat;
}

.horizontal-media-dashboard .toggle:after {
    background: url("/../static/img/icon_minus_black_big.png");
    background-repeat: no-repeat;
    opacity: 0;
}

.horizontal-media-dashboard.open .toggle:before {
    opacity: 0;
}

.horizontal-media-dashboard.open .toggle:after {
    opacity: 1;
}

.horizontal-media-dashboard {
    background: white;
}

.horizontal-media-dashboard .toggle.added {
    animation: added-animation;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}

.horizontal-media-dashboard .container {
    display: none;
    padding: 5px 0 0;
}

.horizontal-media-dashboard #added-message {
    position: absolute;
    top: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0 10px;
    right: 58px;
    line-height: 30px;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: 0.3s;
}

.horizontal-media-dashboard #added-message.show {
    animation: added-message-animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
}

@keyframes added-message-animation {
    0% {
        opacity: 1;
    }
    
    30% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes added-animation {
    0% {
        opacity: 0.5;
        top: -42px;
    }
    
    30% {
        opacity: 0.5;
        top: -36px;
    }
    
    100% {
        opacity: 1;
        top: -42px;
    }
}

.horizontal-media-dashboard #added-message::before {
    content: "";
    border-left: 15px solid rgba(0, 0, 0, 0.8);
    position: absolute;
    right: -15px;
    top: 0;
    width: 15px;
    height: 15px;
    border-top: 15px solid transparent;
}

.horizontal-media-dashboard #added-message::after {
    content: "";
    border-right: 15px solid transparent;
    position: absolute;
    right: -15px;
    top: 15px;
    width: 15px;
    height: 15px;
    border-top: 15px solid rgba(0, 0, 0, 0.8);
}

.horizontal-media-dashboard .title-block {
    display: none;
}

.horizontal-media-dashboard .media-block.mosaic {
    margin-bottom: 20px !important;
    width: calc(100% - 200px) !important;
}

.horizontal-media-dashboard .media-collection .collection-navigation {
    margin-bottom: 5px;
    padding: 0 20px;
}

.horizontal-media-dashboard .media-collection .media-block .media {
    height: 138px !important;
    width: auto !important;
    margin-right: 10px;
}

.horizontal-media-dashboard .media-collection .media-block .media .title {
    font-size: 12px;
    line-height: 28px;
    padding: 0 30px 0 10px;
}

.horizontal-media-dashboard .media-collection .media-block .media .image {
    padding-bottom: 28px;
    border-color: #999999;
}

.horizontal-media-dashboard .media-collection .media-block .media img {
    height: 110px !important;
}

.horizontal-media-dashboard .media-collection .media-block .media .action-delete {
    height: 26px;
    width: 26px;
}

.horizontal-media-dashboard .media-collection .media-block .media .action-delete:before {
    right: 7px;
    top: 7px;
    width: 12px;
    height: 12px;
}

.horizontal-media-dashboard .media-collection .more {
    display: none;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    width: 200px;
    padding-top: 80px;
    text-transform: uppercase;
    cursor: pointer;
}

.horizontal-media-dashboard .media-collection .more.visible {
    display: inline-block;
}

.horizontal-media-dashboard .media-collection .more.visible::before {
    content: "";
    background: url("/../static/img/icon_dashboard_more.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 45px;
    height: 11px;
    top: 60px;
    left: calc(50% - 23px);
}

@media (max-width: 1470px) {
    .horizontal-media-dashboard .media-collection .collection-navigation {
        padding: 0 15px;
    }
}