.collection-add-to-album-modal .modal-dialog,
.collection-save-as-new-album-modal .modal-dialog {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.collection-add-to-album-modal .modal-header,
.collection-save-as-new-album-modal .modal-header {
    background: white;
    border-bottom: 1px solid #a7a7a7;
    padding: 10px 15px;
}

.collection-add-to-album-modal .modal-header .title,
.collection-save-as-new-album-modal .modal-header .title {
    text-transform: uppercase;
    margin: 0;
    color: black !important;
    font-family: FiraSans Medium;
}

.collection-add-to-album-modal .modal-body,
.collection-save-as-new-album-modal .modal-body {
    padding: 0;
}

.collection-save-as-new-album-modal .modal-body {
    margin: 15px 0 0;
}

.collection-add-to-album-modal .album-selection .album {
    border-bottom: 1px solid #a7a7a7;
    padding: 8px 5px;
}

.collection-add-to-album-modal .album-selection .asset-image img {
    max-width: 100%;
    max-height: 100px;
    border: 1px solid #6a6e6e;
}

.collection-add-to-album-modal .album {
    border-bottom: 1px solid #a7a7a7;
    padding: 6px 5px;
}

.collection-add-to-album-modal .button.save-as-new-album {
    width: 100%;
    font-family: FiraSans SemiBold;
}

.collection-add-to-album-modal .info {
    padding-left: 20px;
}

.collection-add-to-album-modal .button {
    font-size: 12px;
}

.collection-add-to-album-modal .info .album-title {
    text-transform: uppercase;
    font-family: FiraSans Medium;
    margin-bottom: 20px;
}

.collection-add-to-album-modal .button.add {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: white;
    border: 1px solid #3e3e3e;
    padding-right: 80px;
    position: relative;
    background: #3e3e3e;
}

.collection-add-to-album-modal .button.add.mobile-only {
    display: none;
}

.collection-add-to-album-modal .button.add:hover {
    color: black;
    border-color: #ffd20a;
    background: #ffd20a;
}

.collection-add-to-album-modal .button.add:before,
.collection-add-to-album-modal .button.add:after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    top: 8px;
    transition: 0.3s;
    width: 44px;
    height: 15px;
    top: 10px;
}

.collection-add-to-album-modal .button.add:before {
    background: url("/../static/img/icon_add_to_album_white.png");
}

.collection-add-to-album-modal .button.add:after {
    background: url("/../static/img/icon_add_to_album_black.png");
    opacity: 0;
}

.collection-add-to-album-modal .button.add:hover:before  {
    opacity: 0;
}

.collection-add-to-album-modal .button.add:hover:after {
    opacity: 1;
}

.collection-save-as-new-album-modal form input {
    width: calc(100% - 200px);
    line-height: 34px;
    padding: 0 10px;
    min-height: 34px;
}

.collection-save-as-new-album-modal form .button.save-as-new-album {
    width: 190px;
    float: right;
}

.collection-add-to-album-modal .button-panel,
.collection-save-as-new-album-modal .button-panel {
    margin-top: 15px;
}

.collection-save-as-new-album-modal .button-panel .button {
    display: block;
    width: 100%;
    color: white;
}


.media-collection-container .button.save-new-album:before,
.media-collection-container .button.save-new-album:after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 19px;
    height: 17px;
}

.media-collection-container .button.save-new-album:before {
    background: url("/../static/img/icon_album_gray.png");
}

.media-collection-container .button.save-new-album:after {
    background: url("/../static/img/icon_album_black.png");
}

.media-collection-container .button.event-download-all:before,
.media-collection-container .button.event-download-all:after {
    content: "";
    background-repeat: no-repeat;
    right: 15px;
    top: 7px;
    width: 21px;
    height: 21px;
}

.media-collection-container .button.event-download-all:before {
    background: url("/../static/img/icon_download_white.png");
}

.media-collection-container .button.event-download-all:after {
    background: url("/../static/img/icon_download_black.png");
}

.media-collection-container .button.event-share-album:before,
.media-collection-container .button.event-share-album:after {
    content: "";
    background-repeat: no-repeat;
    right: 15px;
    top: 9px;
    width: 19px;
    height: 19px;
}

.media-collection-container .button.event-share-album:before {
    background: url("/../static/img/icon_share_white.png");
}

.media-collection-container .button.event-share-album:after {
    background: url("/../static/img/icon_share_black.png");
}

.media-collection-container .event-album-name {
    display: inline-block;
    position: relative;
    padding-right: 30px;
}

.media-collection-container .event-album-name:focus {
    outline: none !important;
}

.media-collection-container .event-album-name:after {
    content: "";
    background: url("/../static/img/icon_edit_black_big.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 10px;
    width: 17px;
    height: 17px;
}

.media-collection-container .album-description {
    padding-left: 25px;
    position: relative;
    margin-bottom: 15px;
}

.media-collection-container .album-description::before {
    content: "+";
    position: absolute;
    left: 0;
    font-size: 26px;
    top: -8px;
    color: #878787;
}

.media-collection-container #event-album-description {
    border: none;
    display: block;
    width: 100%;
    color: #878787;
}

.media-collection-container .album-info {
    margin-top: 25px;
    padding-right: 40px;
}

.media-collection-container .album-info > p {
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
}

.media-collection-container .album-info > p:before {
    content: "";
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
}

.media-collection-container .album-info .creator:before {
    background: url("/../static/img/icon_my_profile.png");
    width: 11px;
    height: 17px;
    top: 2px;
    left: 2px;
}

.media-collection-container .album-info .creation-date:before {
    background: url("/../static/img/icon_calendar.png");
    width: 17px;
    height: 17px;
}

.media-collection-container .album-info .shared-album {
    margin-top: 20px;
}

.media-collection-container .album-info .shared-album:before {
    background: url("/../static/img/icon_share_black.png");
    width: 17px;
    height: 17px;
    top: 2px;
}

.media-collection-container .album-info .album-image {
    border: 1px solid;
    margin-bottom: 20px;
    display: inline-block;
}

.media-collection-container .album-info .album-image img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.media-collection-container > div:not(.product-detail) .nav {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 35px;
}

.media-collection-container .nav span {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    position: relative;
    line-height: 45px;
}

.media-collection-container .nav span.prev,
.media-collection-container .nav span.next {
    padding: 0 20px;
}

.media-collection-container .nav span.prev:before {
    background: url("/static/img/icon_arrow_prev.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 7px;
}

.media-collection-container .nav span.prev:after {
    content: "|";
    display: inline-block;
    right: 0;
    position: absolute;
}

.media-collection-container .nav span.next:before {
    content: "|";
    display: inline-block;
    left: 0;
    position: absolute;
}

.media-collection-container .nav span.next:after {
    background: url("/static/img/icon_arrow_next.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 12px;
    position: absolute;
    top: 16px;
    right: 0;
    width: 7px;
}

.media-collection-container .nav span.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 1470px) {
    .media-collection-container .nav {
        right: 15px;
    }
}

@media (max-width: 992px) {
    .media-collection .collection-navigation {
        margin: 10px -5px 20px;
        width: calc(100% + 10px);
        float: left;
    }

    .media-collection .collection-navigation .button {
        display: inline-block;
        margin: 0px 5px 10px;
        width: calc(50% - 10px);
        float: left !important;
    }
}

@media (max-width: 900px) {
    .media-collection-container > div:not(.product-detail) .nav {
        position: relative;
        top: 0;
        right: 0;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .media-collection-container .album-info {
        padding-right: 0;
    }
}

@media (max-width: 620px) {
    .collection-add-to-album-modal .modal-dialog,
    .collection-save-as-new-album-modal .modal-dialog {
        width: calc(100% - 20px);
    }   
}

@media (max-width: 600px) {
    .media-collection .collection-navigation {
        margin: 10px 0 20px;
        width: 100%;
    }

    .media-collection .collection-navigation .button {
        display: block;
        margin: 0 0 10px;
        width: 100%;
    }

    .collection-save-as-new-album-modal form input {
        width: 100%;
        margin-bottom: 15px;
    }

    .collection-save-as-new-album-modal .button-panel {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .collection-add-to-album-modal .info .button.add {
        display: none;
    }

    .collection-add-to-album-modal .button.add.mobile-only {
        display: block;
        width: 100%;
        margin: 10px 0 0;
    }

    .collection-save-as-new-album-modal form .button.save-as-new-album {
        width: 100%;
    }
}