.media-navigation {
    width: 100%;
    margin: 30px 0 20px;
    float: left;
    padding: 10px 0;
    display: -webkit-inline-box;  
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.media-navigation > li {
    display: inline-block;
    float: left;
    text-align: center;
    min-height: 50px;
    position: relative;
    border-top: 1px solid;
    border-bottom: 1px solid;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    max-width: 20%;
}

.media-navigation > li > a {
    font-family: FiraSans SemiBold;
    text-transform: uppercase;
    width: 100%;
    height: calc(100% - 10px);
    border-right: 1px solid;
    display: block;
    transition: 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 5px;
}

.media-navigation > li > a:hover:not(.inactive),
.media-navigation > li > a:not(.inactive):focus,
.media-navigation > li > a.active:not(.inactive) {
    background: black;
    color: white;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: -10px;
    top: -10px;
    padding: 10px 0;
    font-size: 16px;
    color: #ffd20a;
    border-color: black;
}

.media-navigation > li:first-child > a:hover:not(.inactive),
.media-navigation > li:first-child > a:focus:not(.inactive),
.media-navigation > li:first-child > a.active:not(.inactive) {
    left: 0;
    width: calc(100% + 10px);
}

.media-navigation > li:last-child > a:hover:not(.inactive),
.media-navigation > li:last-child > a:focus:not(.inactive),
.media-navigation > li:last-child > a.active:not(.inactive) {
    width: calc(100% + 10px);
}

.media-navigation > li > a:not(.inactive):hover,
.media-navigation > li > a:not(.inactive):focus,
.media-navigation > li > a.active span {
    color: white;
}

.media-navigation > li:last-child > a {
    border: none;
}

.media-navigation > li > a > span {
    font-family: FiraSans Regular;
    text-transform: none;
    display: block;
    width: 100%;
    font-size: 14px;
}

@media (max-width: 1050px) {
    .media-navigation > li {
        max-width: 50%;
    }
}