.media-collection-container {
    position: relative;
    padding: 0 20px;
}

.media-collection-container .product-detail {
    padding: 0;
}

.media-collection-container .media-collection .more {
    display: none !important;
}

.media-collection-container .album-only {
    display: block !important;
}

.container.horizontal-search-bar .album-only {
    display: none !important;
}

.media-collection-container .list-only {
    display: none !important;
}

.container.horizontal-search-bar .list-only {
    display: block !important;
}

.media-collection .title-block .title,
.media-collection-container .title-block .title {
    font-size: 28px;
    font-family: FiraSans Medium;
    text-align: center;
    display: inline-block;
}

.media-collection .close-screen,
.media-collection-container .close-screen {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 15px;
    cursor: pointer;
}

.media-collection .close-screen:before,
.media-collection-container .close-screen:before {
    content: "";
    background: url("/../static/img/icon_X.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 0;
}

.media-collection .collection-navigation {
    margin: 10px 0 20px;
}

.media-collection .collection-navigation .button {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: white;
    border: 1px solid #3e3e3e;
    padding-right: 80px;
    position: relative;
}

.media-collection .collection-navigation .button:hover {
    color: #3e3e3e;
    border-color: #ffd20a;
}

.media-collection .collection-navigation .button:before,
.media-collection .collection-navigation .button:after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    top: 8px;
    transition: 0.3s;
}

.media-collection .collection-navigation .button:after,
.media-collection .collection-navigation .button:hover:before  {
    opacity: 0;
}

.media-collection .collection-navigation .button:hover:after {
    opacity: 1;
}

.media-collection .collection-navigation .button.download-all:before,
.media-collection .collection-navigation .button.download-all:after {
    width: 21px;
    height: 21px;
}

.media-collection .collection-navigation .button.download-all:before {
    background: url("/../static/img/icon_download_white.png");
}

.media-collection .collection-navigation .button.download-all:after {
    background: url("/../static/img/icon_download_black.png");
}

.media-collection .collection-navigation .button.add-to-album:before,
.media-collection .collection-navigation .button.add-to-album:after {
    width: 44px;
    height: 15px;
    top: 10px;
}

.media-collection .collection-navigation .button.add-to-album:before {
    background: url("/../static/img/icon_add_to_album_white.png");
}

.media-collection .collection-navigation .button.add-to-album:after {
    background: url("/../static/img/icon_add_to_album_black.png");
}

.media-collection .collection-navigation .button.selection-share:before,
.media-collection .collection-navigation .button.selection-share:after {
    width: 19px;
    height: 19px;
    top: 9px;
}

.media-collection .collection-navigation .button.selection-share:before {
    background: url("/../static/img/icon_share_white.png"); 
}

.media-collection .collection-navigation .button.selection-share:after {
    background: url("/../static/img/icon_share_black.png");
}

.media-collection .collection-navigation .button.selection-delete:before,
.media-collection .collection-navigation .button.selection-delete:after {
    width: 14px;
    height: 17px;
    top: 10px;
    background: url("/../static/img/icon_trash_black.png");
}

.media-collection .collection-navigation .button.selection-delete {
    float: right;
    background: white;
    color: #3e3e3e;
    margin-right: 0;
}

.media-collection .collection-navigation .button.selection-delete:hover {
    background: #ffd20a;
    color: #3e3e3e;
}

.media-collection .media .action-delete {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #ffd20a;
    z-index: 1;
    right: 1px;
    top: 1px;
}

.media-collection .media .action-delete:before {
    content: "";
    background: url("/../static/img/icon_X.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    background-size: 100%;
}

@media (max-width: 1470px) {
    .media-collection-container {
        padding: 0 15px;
    }
}