.media-block {
    overflow: auto;
    float: left;
    margin: 0 -10px 35px 10px !important;
    transition: 0.3s;
    padding: 10px;
    width: calc(100% - 20px) !important;
    opacity: 1;
}

.container.media-collection-container .media-block {
    width: 100% !important;
    margin: 0 0px 35px 0px !important;
    padding: 10px 0;
}

.media-block.refreshing {
    opacity: 0.5;
    transition: 0.3s;
}

.media-block.filter-open {
    width: calc(100% - 280px) !important;
    margin-left: 270px !important;
}

.media-block .media {
    display: inline-block;
    float: left;
    margin: 0;
    position: relative;
    width: auto;
    transition: box-shadow 0.3s;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
}

.media-block .media.visible {
    opacity: 1;
}

.media-block.refreshing .media {
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 220px;
}

.media-block.mosaic.visible .media .image,
.media-block.mosaic.visible .media .title {
    opacity: 1;
}

.media-block .media:hover,
.media-block .media:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.media-block .media > .image {
    display: block;
    width: 100%;
    border: 1px solid;
    border-bottom: none;
    position: relative;
    transition: 0.3s;
    padding-bottom: 32px;
    height: 100%;
}

.media-block .media > .image > img {
    max-width: 100%;
    width: auto;
    transition: 0.3s;
}

.media-block .media .info {
    position: absolute;
    bottom: 32px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: white;
    font-family: FiraSans Light;
    font-size: 12px;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}

.media-block .media .info.collection {
    bottom: 78px;
}

.media-block .media .info .ean {
    margin-bottom: 0;
}

.media-block .media:hover .info {
    opacity: 1;
}

.media-block .media .title {
    background: black;
    color: white;
    padding: 6px 30px 6px 10px;
    position: absolute;
    overflow: auto;
    bottom: 0;
    width: 100%;
    transition: 0.3s;
}

.media-block .media .title p {
    transition: 0.3s;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.media-block .media .add {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    transition: 0.3s;
    cursor: pointer;
}

.media-block .media .add.active {
    background: #ffd20a;
}

.media-block .media .add:before,
.media-block .media .add:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    right: 7px;
    top: 6px;
    transition: 0.3s;
}

.media-block .media .add:before {
    background: url("/../static/img/icon_plus_white.png");
    background-repeat: no-repeat;
    opacity: 1;
}

.media-block .media .add:after {
    background: url("/../static/img/icon_plus_yellow.png");
    background-repeat: no-repeat;
    opacity: 0;
}

.media-block .media .add:hover:after,
.media-block .media .add:focus:after {
    opacity: 1;
}

.media-block .media.added .add {
    background: #ffd20a;
}

.media-block .media.added .add:before {
    background: url("/../static/img/icon_plus_black.png");
    background-repeat: no-repeat;
    opacity: 1 !important;
}

.media-block .media.added .add:after {
    opacity: 0 !important;
}

.media-block:not(.mosaic) {
    padding: 10px 5px;
}

.media-block .media.file {
    width: calc(100%/8 - 10px);
    margin: 5px;
    min-height: 240px;
    border: 1px solid black;
}

.media-block .media.file .title p {
    height: 40px;
    white-space: initial;
}

.media-block .media.file .add {
    bottom: 0;
    top: auto;
}

.media-block .media.file .title {
    padding-right: 10px;
    padding-bottom: 32px;
}

.media-block .media.file:after {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 20px);
    top: 85px;
    width: 41px;
    height: 39px;
}

.media-block .media.file.excel:after {
    background: url("/../static/img/icon_excel.png");
}

.media-block .media.file.zip:after {
    width: 39px;
    background: url("/../static/img/icon_zip.png");
}

.media-block .media.file > a {
    min-height: 160px;
}

.media-block .media.file .overlay-title {
    margin: 30px 0;
    background: black;
    display: inline-block;
    padding: 0 20px 0 10px;
    font-family: FiraSans Bold;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.3s;
    height: 20px;
    line-height: 20px;
    position: relative;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 5px);
}

.media-block .media.file .overlay-title:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background: black;
    border-left: 10px solid black;
    border-bottom: 20px solid white;
    right: 0;
}

.media-block .media.file.images .overlay-title {
    background: #ee7501;
    color: black;
}

.media-block .media.file.images .overlay-title:after {
    background: #ee7501;
    border-left: 10px solid #ee7501;
}

.media-block .media.file.sheets .overlay-title {
    background: #0087cb;
    color: black;
}

.media-block .media.file.sheets .overlay-title:after {
    background: #0087cb;
    border-left: 10px solid #0087cb;
}

.media-block .media.file.pricelist .overlay-title {
    background: #ffd20a;
    color: black;
}

.media-block .media.file.pricelist .overlay-title:after {
    background: #ffd20a;
    border-left: 10px solid #ffd20a;
}

@media (max-width: 1470px) {
    .media-block {
        margin: 0 -5px 35px 5px !important;
        width: calc(100% - 10px) !important;
    }
}

@media (max-width: 1200px) {
    .media-block .media.file {
        width: calc(100%/6 - 10px);
    }
}

@media (max-width: 1050px) {
    .media-block .media.file {
        width: calc(100%/4 - 10px);
    }
}

@media (min-width: 480px) and (max-width: 992px) {
    .archives > .row > div {
        width: 50%;
    }
}

@media (max-width: 720px) {
    .media-block .media.file {
        width: calc(100%/2 - 10px);
    }
}

@media (max-width: 480px) {
    .media-block .media.file {
        width: calc(100% - 10px);
    }
}