.media-filter {
    width: 100%;
    max-width: 250px;
    background: black;
    display: inline-block;
    float: left;
    height: 60px;
    color: white;
    transition: 0.3s;
    position: relative;
}

.media-filter .toggle {
    text-transform: uppercase;
    position: relative;
    padding: 20px 20px 10px 70px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.media-filter .toggle:hover,
.media-filter .toggle:focus,
.media-filter.open .toggle {
    color: #ffd20a;
    transition: 0.3s ease-out;
}

.media-filter .toggle:before,
.media-filter .toggle:after {
    content: "";
    position: absolute;
    width: 49px;
    height: 23px;
    left: 20px;
    top: 18px;
}

.media-filter .toggle:before {
    background: url("/../static/img/icon_filter_toggle_white.png");
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}

.media-filter .toggle:after {
    background: url("/../static/img/icon_filter_toggle_yellow.png");
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s ease-in;
}

.media-filter .toggle:hover:before,
.media-filter .toggle:focus:before,
.media-filter.open .toggle:before {
    opacity: 0;
    transition: 0.3s ease-in;
}

.media-filter .toggle:hover:after,
.media-filter .toggle:focus:after,
.media-filter.open .toggle:after {
    opacity: 1;
    transition: 0.3s ease-out;
}

.media-filter .dropdown {
    position: absolute;
    top: 60px;
    width: 250px;
    background: #303030;
    z-index: 10;
    border-top: 1px solid white;
    display: none;
}

.media-filter .dropdown.initial-open {
    display: block;
}

.media-filter .filter-reset {
    border-top: 1px solid #3e3e3e;
    padding: 30px 10px 40px;
    display: none;
}

.media-filter .filter-group > .title {
    background: #212121;
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #595959;
    text-transform: uppercase;
}

.media-filter .filter-group > .title:before,
.media-filter .filter-group > .title:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 17px;
    transform: 0.3s;
    width: 12px;
    height: 7px;
    transition: 0.3s;
}

.media-filter .filter-group > .title:before {
    background: url("/../static/img/icon_chevron_up_white.png");
    background-repeat: no-repeat;
    opacity: 0;
}

.media-filter .filter-group > .title:after {
    background: url("/../static/img/icon_chevron_down_white.png");
    background-repeat: no-repeat;
    opacity: 1;
}

.media-filter .filter-group.open > .title:before {
    opacity: 1;
}

.media-filter .filter-group.open > .title:after {
    opacity: 0;
}

.media-filter .filter-group .filter {
    text-align: left;
    padding: 2px 20px 2px 40px;
    cursor: pointer;
    transform: 0.3s;
    position: relative;
    pointer-events: all;
}

.media-filter .filter-group .filter.disabled {
    opacity: 0.5;
}

.media-filter .filter-group .filter.disabled:hover {
    cursor: default;
}

.media-filter .filter-group .filter.disabled label:hover {
    cursor: default;
}

.media-filter .filter-group .filter:before,
.media-filter .filter-group .filter:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    left: 20px;
    top: 7px;
    transition: 0.3s;
}

.media-filter .filter-group .filter:before {
    background: url("/../static/img/icon_checkbox.png");
    background-repeat: no-repeat;
}

.media-filter .filter-group .filter:after {
    background: url("/../static/img/icon_checkbox_checked.png");
    background-repeat: no-repeat;
    opacity: 0;
}

.media-filter .filter-group .filter.checked:before {
    opacity: 0;
}

.media-filter .filter-group .filter.checked:after {
    opacity: 1;
}

.media-filter .filter-group .filter label {
    font-family: FiraSans Light;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.media-filter .filter-group .filter.checked label {
    color: #ffd20a;
}

.media-filter .filter-group .filter.orientation {
    line-height: 25px;
}

.media-filter .filter-group .filter.landscape label,
.media-filter .filter-group .filter.panorama label,
.media-filter .filter-group .filter.portrait label,
.media-filter .filter-group .filter.square label {
    padding-right: 40px;
    width: 100%;
}

.media-filter .filter-group .filter.landscape label:before,
.media-filter .filter-group .filter.panorama label:before,
.media-filter .filter-group .filter.portrait label:before,
.media-filter .filter-group .filter.square label:before,
.media-filter .filter-group .filter.landscape label:after,
.media-filter .filter-group .filter.panorama label:after,
.media-filter .filter-group .filter.portrait label:after,
.media-filter .filter-group .filter.square label:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat !important;
    right: 0;
    width: 22px;
    height: 23px;
    transition: 0.3s;
}

.media-filter .filter-group .filter.landscape label:before {
    background: url("/../static/img/icon_orientation_landscape.png");
}

.media-filter .filter-group .filter.portrait label:before {
    background: url("/../static/img/icon_orientation_portrait.png");

}

.media-filter .filter-group .filter.square label:before {
    background: url("/../static/img/icon_orientation_square.png");
}

.media-filter .filter-group .filter.panorama label:before {
    background: url("/../static/img/icon_orientation_panorama.png");
}

.media-filter .filter-group .filter.landscape label:after {
    background: url("/../static/img/icon_orientation_landscape_yellow.png");
    opacity: 0;
}

.media-filter .filter-group .filter.portrait label:after {
    background: url("/../static/img/icon_orientation_portrait_yellow.png");
    opacity: 0;
}

.media-filter .filter-group .filter.square label:after {
    background: url("/../static/img/icon_orientation_square_yellow.png");
    opacity: 0;
}

.media-filter .filter-group .filter.panorama label:after {
    background: url("/../static/img/icon_orientation_panorama_yellow.png");
    opacity: 0;
}

.media-filter .filter-group .filter.checked label:before {
    opacity: 0;
}

.media-filter .filter-group .filter.checked label:after {
    opacity: 1;
}

.media-filter .filter-group-dropdown {
    padding: 5px 0 10px;
    border-top: 1px solid #212121;
    display: none;
}

.media-filter .filter-group.init-open .filter-group-dropdown {
    display: block;
}

.media-filter .filter-group .categories li {
    padding-left: 5px;
}

.media-filter .filter-group .categories li.filter {
    padding-left: 15px;
}

.media-filter .filter-group .categories > ul > li.filter {
    padding-left: 40px;
}

.media-filter .filter-group .categories > ul > li {
    font-size: 12px;
    padding: 3px 20px 3px 40px;
    text-align: left;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.media-filter .filter-group .categories ul li:not(.sub-category):before,
.media-filter .filter-group .categories ul li:not(.sub-category):after {
    content: ""; 
    position: absolute;
    transition: 0.3s;
}

.media-filter .filter-group .categories ul li:not(.sub-category):not(.filter):before {
    background: url("/../static/img/icon_arrow_right_filter.png");
    background-repeat: no-repeat;
    width: 6px;
    height: 12px;
    left: 20px;
    top: 5px;
}

.media-filter .filter-group .categories ul li:not(.sub-category):not(.filter):after {
    background: url("/../static/img/icon_arrow_down_filter.png");
    background-repeat: no-repeat;
    left: 20px;
    top: 8px;
    width: 12px;
    height: 6px;
    opacity: 0;
}

.media-filter .filter-group .categories ul li.open:not(.sub-category):not(.filter):before {
    opacity: 0;
}

.media-filter .filter-group .categories ul li.open:not(.sub-category):not(.filter):after {
    opacity: 1;
}

.media-filter .filter-group .categories > ul > li > ul > li,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li > ul > li,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li > ul > li > ul > li {
    position: relative;
    padding-left: 10px;
}

.media-filter .filter-group .categories > ul > li > ul > li:not(.sub-category):not(.filter):before,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li:not(.sub-category):not(.filter):before,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li > ul > li:not(.sub-category):not(.filter):before,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li > ul > li > ul > li:not(.sub-category):not(.filter):before {
    top: 4px !important;
    left: 0 !important;
    background-size: 100% !important;
    width: 4px !important;
}

.media-filter .filter-group .categories > ul > li > ul > li:not(.sub-category):not(.filter):after,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li:not(.sub-category):not(.filter):after,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li > ul > li:not(.sub-category):not(.filter):after,
.media-filter .filter-group .categories > ul > li > ul > li > ul > li > ul > li > ul > li:not(.sub-category):not(.filter):after {
    top: 6px !important;
    left: -2px !important;
    background-size: 100% !important;
    width: 8px !important;
}

.media-filter .filter-group .categories ul li.open,
.media-filter .filter-group .categories ul li.filter.checked
{
    color: #ffd20a;
}

.media-filter .filter-group .categories ul li.open:before {
    opacity: 0;
}

.media-filter .filter-group .categories ul li.open:after {
    opacity: 1;
}

.media-filter .filter-sub-group.open .title:before {
    opacity: 0;
}

.media-filter .filter-sub-group.open .title:after {
    opacity: 1;
}

.media-filter .filter-sub-group-dropdown {
    display: none;
    padding-bottom: 10px;
}

.media-filter .filter-sub-group.open .filter-sub-group-dropdown {
    display: block;
}

.media-filter .filter-sub-group.has-checked-filters .title {
    color: #ffd20a;
}

.media-filter .filter-group .sub-category .filter {
    padding-left: 0;
}

.media-filter .filter-group .sub-category .filter input,
.media-filter .filter-group .categories > ul > li input {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.media-filter .filter-group .sub-category .filter:before, 
.media-filter .filter-group .sub-category .filter:after {
    left: 0;
    top: 5px;
}

.media-filter .filter-group .sub-category .filter {
    font-family: FiraSans Thin;
}

.media-filter .filter-group .categories > ul > li > ul > .sub-category {
    padding-left: 10px;
}

.media-filter .filter-group .categories .sub-category {
    display: none;
}

.media-filter .filter-group .categories .sub-category > ul > li:not(.sub-category):not(.filter) {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    .media-filter .dropdown {
        width: 100%;
    }
}
