.modal {
    overflow: auto;
}

.modal-dialog {
    border: none;
    max-width: 1440px;
    width: 100%;
    margin-top: 250px;
}

.modal-content {
    border: 1px solid #ffd20a;
    border-radius: 0;
    padding: 15px;
}

.modal-header {
    background: #212121;
}

.modal .close {
    opacity: 1;
    top: -50px;   
    position: relative;
    right: -15px;
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.modal .close:before {
    content: "";
    background: url("/static/img/icon_close_white.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
}

.modal-backdrop.in {
    opacity: 0.8;
}