.navbar .dropdown-menu {
/*     border-top: 1px solid #dc002e !important; */
    border-top: 1px solid white !important;
}

.navbar {
    width: calc(100% - 250px);
    display: inline-block;
    float: left;
    text-align: right;
}

.navbar .container {
    width: 100%;
}

.navbar .toggle-menu {
    display: none;
    height: 60px;
    line-height: 54px;
    cursor: pointer;
    padding: 0 15px;
}

.navbar .toggle-menu i {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 3px;
    top: 0;
    right: 0;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #dc002e;
    transition: all .2s ease-out;
    cursor: pointer; 
}

.navbar .toggle-menu i:before, 
.navbar .toggle-menu i:after {
    content: '';
    width: 26px;
    height: 3px;
    background: #dc002e;
    position: absolute;
    left: 0;
    transition: all .2s ease-out; 
}

.navbar .toggle-menu i:before {
    top: -7px; 
}

.navbar .toggle-menu i:after {
    bottom: -7px; 
}

.navbar .toggle-menu.active i {
    background: transparent; 
}

.navbar .toggle-menu.active i:before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg); 
}

.navbar .toggle-menu.active i:after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); 
}

.navbar .mobile-bars {
    display: none;
    cursor: pointer;
    height: 96px;
    padding: 35px;
}

.navbar .nav > li {
    display: inline-block;
    background: none !important;
    position: inherit;
}

.navbar .nav > li.mobile {
    display: none;
}

.navbar .nav > li > a {
    color: #333333;
    background-color: white;
    font-size: 18px;
    text-transform: uppercase;
    height: 100px;
    line-height: 80px;
    transition: 0.3s;
    border-bottom: 1px solid #dc002e;
}

.navbar .nav > li a.with-image img {
    width: 100%;
}

.navbar .nav > li a.with-image:hover,
.navbar .nav > li a.with-image:focus {
    background: #dc002e !important;
}

.navbar .nav > li a.with-image:hover p,
.navbar .nav > li a.with-image:focus p {
    color: white;
}

.navbar .nav > li a:hover,
.navbar .nav > li a:focus,
.navbar .nav li.active > a {
    color: #dc002e;
    background: none !important;
}

.navbar .nav > li > ul {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 5;
    width: 100vw;
    left: 0;
    top: 100px;
    background: white;
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2);
    padding-bottom: 20px;
    transition: 0.3s;
    position: fixed;
    border-top: 1px solid #e6e6e4;
    display: block !important;
}

.navbar .nav > li:hover > ul,
.navbar .nav > li:focus > ul {
    opacity: 1;
    visibility: visible;
}

.navbar .nav > li > ul > li {
    float: left;
    width: 25%;
}

.navbar .nav > li > ul.size-0 > li,
.navbar .nav > li > ul.size-1 > li {
    width: 100%;
}

.navbar .nav > li > ul.size-2 > li {
    width: 50%;
}

.navbar .nav > li > ul.size-3 > li {
    width: 33.333333%;
}

.navbar .nav > li > ul.size-4 > li {
    width: 25%;
}

.navbar .nav > li > ul.size-1 > li > ul > li {
    width: 25%;
    float: left;
}

.navbar .nav > li > ul > li > a {
    width: calc(100% - 20px);
    text-align: left;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #dc002e;
    padding: 15px;
    transition: 0.3s;
    font-weight: bold;
}

.navbar .nav > li > ul > li > ul {
    padding: 0;
}

.navbar .nav > li > ul > li > ul > li > a {
    width: calc(100% - 20px);
    text-align: left;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #575756;
    padding: 6px 15px;
}

.navbar .nav a {
    transition: 0.3s;
}

.navbar .nav a:hover,
.navbar .nav a:focus {
    text-decoration: none;
}

.navbar .nav > li > ul > li > ul > li > a.with-image {
    padding: 10px 4px 4px;
}

.navbar .nav > li > ul > li > ul > li > a.with-image p {
    padding: 0 9px;
}

.navbar .nav > li > ul > li > ul > li > ul {
    padding: 0 15px;
    margin-bottom: 10px;
}

.navbar .nav > li > ul > li > ul > li > ul > li > a {
    color: #575756;
}

.navbar .nav > li > ul > li > ul > li > ul > li > a:before {
    content: "»";
    padding-right: 5px;
}

@media (max-width: 1150px) {
    .navbar {
        width: calc(100% - 170px);
    }
    
    .navbar .nav > li > a {
        font-size: 16px;
    }
}

@media (max-width: 1050px) {
    .navbar {
        width: calc(100% - 100px);
        float: left;
        text-align: left;
        margin: 0;
        height: 60px;
        border: none;
    }
    
    .navbar .navbar-nav {
        display: none;
    }
    
    .navbar .toggle-menu {
        display: block;
    }
    
    .navbar-header {
        width: 100%;
    }
    
    .navbar-brand {
        display: block;
        width: 100%;
        height: 60px;
        padding: 7px 15px;
    }
}