.add-notification-button {
    display: inline-block;
    float: right;
    color: black;
    font-family: FiraSans Medium;
    padding: 0 55px 0 20px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    top: 10px;
    right: 20px;
    transition: 0.3s;
}

.add-notification-button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.add-notification-button:before {
    content: "";
    position: absolute;
    background: url("/../static/img/icon_notification_add.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 26px;
    right: 20px;
    top: 8px;
}

.notification-modal .modal-dialog {
    max-width: 600px;
    margin: 250px auto;
}

.notification-modal.saved .modal-dialog {
    max-width: 800px;
}

.notification-modal .modal-header {
    position: relative;
}

.notification-modal .modal-header:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 23px;
    height: 26px;
    right: 20px;
    right: 10px;
    top: 11px;
}

.notification-modal.add .modal-header:before {
    background: url("/static/img/icon_notification_add_white.png");
}

.notification-modal.saved .modal-header:before {
    background: url("/static/img/icon_notification_white.png");
}

.notification-modal .modal-header .title {
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-family: FiraSans Medium;
    font-size: 12px;
}

.notification-modal .modal-body {
    padding: 20px 0 0;
}

.notification-modal .save {
    margin-top: 100px;
}

.notification-button {
    border: 1px solid #212121;
    padding: 10px;
    display: block;
    width: 100%;
    margin: 30px 0 0;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.notification-button p {
    font-family: FiraSans Medium;
    font-size: 12px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    position: relative;
}

.notification-button p.mobile {
    display: none;
}

.notification-button p:after {
    content: "";
    background: url("/../static/img/icon_arrow_right_black.png");
    background-repeat: no-repeat;
    position: absolute;
    right: -43px;
    bottom: -2px;
    width: 36px;
    height: 16px;
    transition: 0.3s ease-in-out;
    background-size: 22px;
}

.notification-button:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 24px;
    background-repeat: no-repeat;
}

.notification-button.show-saved:after {
    background: url("/static/img/icon_notification.png");
}

.notification-button.add-new:after {
    background: url("/static/img/icon_notification_add.png");
    width: 23px;
    height: 26px;
    top: 7px;
}

.notification-modal.saved form button {
    margin: 0;
    padding: 0 15px;
    line-height: 24px;
    position: relative;
    top: -1px;
    float: right;
    font-size: 11px;
    font-family: FiraSans SemiBold;
}

.notification-modal.saved form button.edit,
.notification-modal.saved form button.delete {
    position: relative;
    border: none;
    width: 30px;
    height: 26px;
    background: none;
}

.notification-modal.saved form button:before, 
.notification-modal.saved form button:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 17px;
    background-repeat: no-repeat;
    top: 5px;
    right: 10px;
    transition: 0.3s;
}

.notification-modal.saved form button:before {
    opacity: 1;
}

.notification-modal.saved form button:after {
    opacity: 0;
}

.notification-modal.saved form button.edit:before {
    background: url("/static/img/icon_edit_black.png");
}

.notification-modal.saved form button.edit:after {
    background: url("/static/img/icon_edit_yellow.png");
}

.notification-modal.saved form button.delete:before {
    background: url("/static/img/icon_delete_black.png");
}

.notification-modal.saved form button.delete:after {
    background: url("/static/img/icon_delete_yellow.png");
}

.notification-modal.saved form button:hover:before {
    opacity: 0;
}

.notification-modal.saved form button:hover:after {
    opacity: 1;
}

.notification-modal.saved form button.save {
    margin-left: 10px;
}

@media (max-width: 992px) {
    .notification-modal.saved form[name="notification-form-saved"] > .row {
        margin-bottom: 20px;
    }
}

@media (max-width: 810px) {
    .notification-modal.saved .modal-dialog {
        width: calc(100% - 10px);
        margin: 250px 5px;
    }
}

@media (max-width: 767px) {
    .notification-modal input.small {
        width: 100%;
    }
    
    .notification-modal.saved form button {
        margin-top: 10px;
    }
    
    .notification-modal.saved form[name="notification-form-saved"] > .row {
        margin-bottom: 40px;
    }
}

@media (max-width: 610px) {
    .notification-modal .modal-dialog {
        width: calc(100% - 10px);
        margin: 250px 5px;
    }
}

@media (max-width: 480px) {
    .notification-button p.desktop {
        display: none;
    }
    
    .notification-button p.mobile {
        display: inline-block;
    }
}