.product-detail {
    padding: 0 20px;
    margin-bottom: 50px;
}

.product-detail .title {
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    font-family: FiraSans Bold;
    font-size: 30px;
    margin: 0;
    min-width: 33.333333%;
    padding: 5px;
    text-transform: uppercase;
}

.product-detail .sub-title {
    font-family: FiraSans Medium;
    font-size: 14px;
    margin: 0;
}

.product-detail .nav {
    text-align: right;
}

.product-detail .nav p {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
    position: relative;
    line-height: 45px;
}

.product-detail .nav p.prev,
.product-detail .nav p.next {
    padding: 0 20px;
}

.product-detail .nav p.prev:before {
    background: url("/static/img/icon_arrow_prev.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 7px;
}

.product-detail .nav p.prev:after {
    content: "|";
    display: inline-block;
    right: 0;
    position: absolute;
}

.product-detail .nav p.next:before {
    content: "|";
    display: inline-block;
    left: 0;
    position: absolute;
}

.product-detail .nav p.next:after {
    background: url("/static/img/icon_arrow_next.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 12px;
    position: absolute;
    top: 16px;
    right: 0;
    width: 7px;
}

.product-detail .nav p.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.product-detail .data {
    margin: 20px 0;
    padding-right: 20px;
    border-right: 1px solid;
}

.product-detail .data .data-block {
    padding: 15px 10px;
    border-bottom: 1px solid;
}

.product-detail .data .data-block:first-child {
    padding-top: 0;
}

.product-detail .data .data-block:last-child {
    border: none;
}

.product-detail table th {
    font-family: FiraSans Medium;
    font-weight: normal;
    padding-right: 10px;
}

.product-detail table td {
    padding: 0 10px;
}

.product-detail table.small {
    font-size: 12px;
}

.product-detail .arrow-target {
    background: black;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: FiraSans Regular;
    line-height: 26px;
    margin-bottom: 1px;
    padding: 0 10px;
    position: relative;
    transition: 0.3s;
}

.product-detail .arrow-target:after {
    content: "";
    border: 13px solid transparent;
    border-left: 20px solid black;
    position: absolute;
    right: -33px;
    transition: 0.3s;
}

.product-detail .arrow-target:hover {
    color: black;
    background: #ffd20a;
}

.product-detail .arrow-target:hover:after {
    border-left-color: #ffd20a;
}

.product-detail table .arrow-target {
    left: -10px;
}

.product-detail h4 {
    font-family: FiraSans Medium;
    font-size: 14px;
    text-transform: uppercase;
}

.product-detail .catalog-categories {
    margin-top: 20px;
}

.product-detail .image {
    cursor: pointer;
    padding: 20px;
}

.product-detail .image:after {
    content: "";
    background: url("/static/img/icon_product_detail_zoom.png");
    background-repeat: no-repeat;
    bottom: 25px;
    height: 58px;
    opacity: 0.7;
    position: absolute;
    right: 25px;
    transition: 0.3s;
    width: 63px;
}

.product-detail .image:hover:after {
    opacity: 1;
}

.product-detail .image img {
    width: 100%;
}

.product-detail .options {
    background: #212121;
    color: white;
    margin-bottom: 15px;
    padding: 5px 7px;
    margin-top: 15px;
}

.product-detail .options .headline {
    border-bottom: 1px solid;
    color: #afaeae;
    font-family: FiraSans Medium;
    font-size: 12px;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 5px 10px;
}

.product-detail .options .option {
    background: #3e3e3e;
    color: white;
    font-family: FiraSans Regular;
    font-size: 12px;
    display: block;
    line-height: 32px;
    margin-bottom: 3px;
    padding: 0 50px 0 10px;
    position: relative;
    transition: 0.3s;
}

.product-detail .options .option:before,
.product-detail .options .option:after {
    background-repeat: no-repeat;
    content: "";
    height: 21px;
    position: absolute;
    top: 6px;
    right: 10px;
    width: 21px;
}

.product-detail .options .option:before {
    background: url("/static/img/icon_download_white.png");
}

.product-detail .options .option:after {
    background: url("/static/img/icon_download_black.png");
    opacity: 0;
}

.product-detail .options .option:hover {
    background: #ffd20a;
    color: black;
    cursor: pointer;
}

.product-detail .options .option:hover:before {
    opacity: 0;
}

.product-detail .options .option:hover:after {
    opacity: 1;
}

@media (max-width: 1470px) {
    .product-detail {
        padding: 0 15px;
    }
}

@media (max-width: 1199px) {
    .product-detail .options-block {
        background: #212121;
    }

    .product-detail .options {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .product-detail .title {
        display: block;
    }

    .product-detail .data {
        min-height: 0 !important;
    }

    .product-detail .image {
        padding: 0;
        margin-bottom: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 767px) {
    .product-detail .data {
        padding-right: 0;
        border-right: 0;
    }

    .product-detail .image {
        padding-left: 0;
    }

    .product-detail .data .data-block {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    .product-detail .nav {
        text-align: center;
    }

    .product-detail .nav p {
        height: 15px;
        margin-bottom: 30px;
    }

    .product-detail .nav p.show-all {
        top: -20px;
    }

    .product-detail .nav p.prev:after,
    .product-detail .nav p.next:before,
    .product-detail .nav p span {
        display: none !important;
    }
}
