.profile-dashboard {
    position: absolute;
    right: 0;
    top: -15px;
    width: 230px;
}

.profile-dashboard .toggle {
    position: relative;
    right: 0;
    text-align: right;
    display: block;
    padding-top: 15px;
    transition: 0.3s ease-in-out;
    background: white;
    height: 50px;
    z-index: 2;
    padding-right: 50px;
}

.profile-dashboard .toggle:before,
.profile-dashboard .toggle:after {
    content: "";
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
    width: 14px;
    height: 20px;
    right: 20px;
    transition: 0.3s ease-in-out;
    top: 15px;
}

.profile-dashboard .toggle:before {
    background: url("/../static/img/icon_my_profile.png");
    background-repeat: no-repeat;
    opacity: 1;
}

.profile-dashboard .toggle:after {
    background: url("/../static/img/icon_my_profile_yellow.png");
    background-repeat: no-repeat;
    opacity: 0;
}

.profile-dashboard .toggle .close {
    position: absolute;
    right: 10px;
    width: 22px;
    height: 22px;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.profile-dashboard .toggle .close:after {
    content: "";
    background: url("/../static/img/icon_profile_close.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 22px;
    height: 22px;
    right: 0;
    top: 0;
}

.profile-dashboard .toggle .name {
    position: relative;
    right: 0;
    transition: 0.3s ease-in-out;
    opacity: 1;
    cursor: pointer;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: 160px;

}

.profile-dashboard.open .toggle {
    background: black;
}

.profile-dashboard.open .toggle:before {
    right: 200px;
    opacity: 0;
}

.profile-dashboard.open .toggle:after {
    right: 200px;
    opacity: 1;
}

.profile-dashboard.open .toggle .name {
    right: 10px;
    opacity: 0;
}

.profile-dashboard.open .toggle .close {
    opacity: 0.3;
}

.profile-dashboard.open .toggle .close:hover,
.profile-dashboard.open .toggle .close:focus {
    opacity: 1;
}

.profile-dashboard .profile-menu {
    position: absolute;
    right: 0;
    background: rgba(40, 40, 40, 0.98);
    transition: 0.3s;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.profile-dashboard .profile-menu p,
.profile-dashboard .profile-menu a {
    position: relative;
    transition: 0.3s ease-in-out;
    opacity: 0;
    color: white;
    padding: 0px 15px;
    display: block;
    margin: 0;
    height: auto;
    min-height: auto;
    font-family: FiraSans Light;
    font-size: 12px;
    top: -20px;
}

.profile-dashboard .profile-menu a:hover,
.profile-dashboard .profile-menu a:focus {
    color: #ffd20a;
}

.profile-dashboard .profile-menu p {
    line-height: 20px;
}

.profile-dashboard.open .profile-menu {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    padding-top: 10px;
}

.profile-dashboard.open .profile-menu a,
.profile-dashboard.open .profile-menu p {
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    
}

.profile-dashboard.open .profile-menu .logout {
    color: #ffd20a;
    padding: 20px 15px;
}

.profile-dashboard.open .profile-menu .invite-user:after {
    content: "";
    background: url("/../static/img/icon_invite_user.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    right: 15px;
    width: 23px;
    height: 15px;
}

.profile-dashboard.open .profile-menu .element:nth-child(1) {
    animation-delay: 0.05s;
}

.profile-dashboard.open .profile-menu .element:nth-child(2) {
    animation-delay: 0.1s;
}

.profile-dashboard.open .profile-menu .element:nth-child(3) {
    animation-delay: 0.2s;
}

.profile-dashboard.open .profile-menu .element:nth-child(4) {
    animation-delay: 0.3s;
}

.profile-dashboard.open .profile-menu .element:nth-child(5) {
    animation-delay: 0.35s;
}

.profile-dashboard.open .profile-menu .element:nth-child(6) {
    animation-delay: 0.4s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

@media (max-width: 1470px) {
    .profile-dashboard .toggle:before,
    .profile-dashboard .toggle:after {
        right: 15px;
    }
}