.register .block {
    max-width: 600px;
}

.register .block .inner .button {
    display: inline-block;
    margin-bottom: 20px;
}

.register .block .inner .button.show-terms-of-use {
    margin-bottom: 0;
}

.register .block .inner .terms-of-use {
    display: none;
}

.register .block .inner .back-to-form {
    font-family: FiraSans Medium;
}

.register .block .inner textarea {
    width: 100% !important;
    padding: 10px;
    height: 300px !important;
    margin-bottom: 20px;
    resize: none;
}
