.richText {
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.richText .richText-toolbar {
    border-bottom: 1px solid #ccc;
}

.richText .richText-toolbar:last-child {
    display: none;
}

.richText .richText-toolbar ul {
    margin: 0;
    padding: 0;
}

.richText .richText-editor:focus {
    border: none;
}

.richText .richText-editor {
    font-family: OpenSans, sans-serif;
}

.richText .richText-toolbar ul li a {
    border-right: 1px solid #ccc;
}