.search-container {
    background: #ffd20a;
    height: 60px;
    text-align: center;
    margin-bottom: 25px;
}

.search {
    display: inline-block;
    position: relative;
}

.search input[type="text"] {
    background: #fff2b6;
    padding: 10px 40px 10px 20px;
    border: none;
    font-family: FiraSans Medium;
    font-size: 18px;
    height: 40px;
    margin: 10px 0 10px 5px;
    min-width: 520px;
}

.search input[type="text"].mobile-only {
    display: none;
}

.search button {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    background: #fff2b6;
}

.search button[type="submit"]:before {
    content: "";
    background: url("/../static/img/icon_zoom_big.png");
    background-repeat: no-repeat;
    width: 29px;
    height: 26px;
    position: absolute;
    right: 7px;
    top: 7px;
    transition: 0.3s;
}

.search button[type="submit"]:after {
    content: "";
    background: url("/../static/img/icon_search_reset.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 12px;
    top: 8px;
    opacity: 0;
}

.search.active button[type="submit"]:before {
    opacity: 0;
}

.search.active button[type="submit"]:after {
    opacity: 1;
}

@media (max-width: 980px) {
    .search-container.with-filter .search {
        width: calc(100% - 430px);
        margin-right: 5px;
    }
    
    .search-container .search input[type="text"] {
        min-width: 0;
        width: 100%;
        font-size: 14px;
    }
    
    .search-container .tr-select {
        top: 0;
        z-index: 0;
    }
    
    .search-container .search input[type="text"].desktop-only {
        display: none;
    }
    
    .search-container .search input[type="text"].mobile-only {
        display: inline-block;
    }
}

@media (max-width: 730px) {
    .search-container .tr-select .select-title {
        width: 170px;
    }
    
    .search-container .search {
        width: calc(100% - 210px);
    }
    
    .search-container .tr-select .options {
        width: 100%;
    }
    
    .search-container.with-filter {
        height: auto;
    }
    
    .search-container.with-filter .media-filter {
        max-width: 100%;
        display: block;
        float: inherit;
    }
    
    .search-container.with-filter .search {
        width: calc(100% - 205px);
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .search-container {
        padding: 10px 15px;
        height: auto;
    }
    
    .search-container .tr-select {
        width: 100%;
        display: block;
        margin: 0;
    }
    
    .search-container .search {
        width: 100%;
    }
    
    .search-container .search input[type="text"] {
        margin: 10px 0 0;
    }
    
    .search-container .tr-select .select-title {
        width: 100%;
    }
    
    .search-container.with-filter .media-filter {
        margin-bottom: 10px;
    }
    
    .search-container.with-filter .search {
        width: 100%;
    }
}