select.tr-select {
    display: none;
}

.tr-select {
    display: inline-block;
    margin: 10px 0;
    z-index: 900;
    position: relative;
    top: -1px;
}

.tr-select .select-title {
    padding: 10px 40px 10px 15px;
    background: #fff2b6;
    cursor: pointer;
    position: relative;
    text-align: left;
    font-size: 14px;
}

.tr-select .select-title:before,
.tr-select .select-title:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 7px;
    right: 15px;
    top: 18px;
    transition: 0.3s;
}

.tr-select .select-title:before {
    background: url("/../static/img/icon_chevron_down.png");
    background-repeat: no-repeat;
    opacity: 1;
}

.tr-select .select-title:after {
    background: url("/../static/img/icon_chevron_up.png");
    background-repeat: no-repeat;
    opacity: 0;
}

.tr-select.open .select-title:before {
    opacity: 0;
}

.tr-select.open .select-title:after {
    opacity: 1;
}

.tr-select .options {
    display: none;
    position: absolute;  
    background: #fff2b6;
    padding: 10px;
}

.tr-select .options .option {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #a6a084;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.tr-select .options .option:hover,
.tr-select .options .option:focus,
.tr-select .options .option.selected {
    background: black;
    color: white;
}

.tr-select .options .option:last-child {
    border-bottom: none;
}

.tr-select .options:before {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 10px);
    top: 0;
    left: 5px;
    background: black;
}

.tr-select.small {
    width: 100%;
    margin: 0 0 15px;
}

.tr-select.small .select-title {
    background: white;
    border: 1px solid #212121;
    padding: 0 30px 0 8px;
    font-size: 12px;
    line-height: 24px;
    height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tr-select.small .select-title::before, 
.tr-select.small .select-title::after {
    width: 12px;
    height: 6px;
    right: 6px;
    top: 9px;
}

.tr-select.small .select-title:before {
    background: url("/../static/img/icon_arrow_small_down.png");
}

.tr-select.small .select-title:after {
    background: url("/../static/img/icon_arrow_small_up.png");
}

.tr-select.small .options {
    height: auto;
    border: 1px solid #212121;
    border-top: none;
    background: white;
    padding: 1px;
    width: 100%;
}

.tr-select.small .options:before {
    display: none;
}

.tr-select.small .options .option {
    font-size: 12px;
}

.tr-select.small .options .option:hover,
.tr-select.small .options .option:focus,
.tr-select.small .options .option.selected {
    color: #ffd20a;
}