.add-user-invite-button {
    display: inline-block;
    float: right;
    color: black;
    font-family: FiraSans Medium;
    padding: 0 55px 0 20px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    top: 10px;
    right: 20px;
    transition: 0.3s;
}

.add-user-invite-button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.add-user-invite-button:before {
    content: "";
    position: absolute;
    background: url("/../static/img/icon_notification_add.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 26px;
    right: 20px;
    top: 8px;
}

.user-invite-modal .modal-dialog {
    max-width: 800px;
    margin: 250px auto;
}

.user-invite-modal .modal-header {
    position: relative;
}

.user-invite-modal .modal-header:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 26px;
    height: 20px;
    right: 10px;
    top: 12px;
    background: url("/../static/img/icon_invite_user_white.png");
    background-repeat: no-repeat;
}

.user-invite-modal .modal-header .title {
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-family: FiraSans Medium;
    font-size: 12px;
}

.user-invite-modal .modal-body {
    padding: 20px 0 0;
}

.user-invite-modal .modal-body .step {
    display: inline-block;
    padding: 10px;
    font-size: 11px;
}

.user-invite-modal .modal-body .text-right {
    display: inline-block;
}

.user-invite-button {
    border: 1px solid #212121;
    padding: 10px;
    display: block;
    width: 100%;
    margin: 30px 0 0;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.user-invite-button p {
    font-family: FiraSans Medium;
    font-size: 12px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    position: relative;
}

.user-invite-button p.mobile {
    display: none;
}

.user-invite-button p:after {
    content: "";
    background: url("/../static/img/icon_arrow_right_black.png");
    background-repeat: no-repeat;
    position: absolute;
    right: -43px;
    bottom: -2px;
    width: 36px;
    height: 16px;
    transition: 0.3s ease-in-out;
    background-size: 22px;
}

.user-invite-button:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 24px;
    background-repeat: no-repeat;
}

.user-invite-modal form button:before {
    opacity: 1;
}

.user-invite-modal form button:after {
    opacity: 0;
}

.user-invite-modal form button:hover:before {
    opacity: 0;
}

.user-invite-modal form button:hover:after {
    opacity: 1;
}

form[name="user-invite-form-add"] {
    overflow: hidden;
    font-size: 12px;
}

form[name="user-invite-form-add"] .title {
    padding: 0 10px 5px;
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-family: FiraSans Bold;
}

form[name="user-invite-form-add"] .sub-title {
    padding: 0 10px 5px;
    border-bottom: 1px solid;
    width: calc(100% - 10px);
    margin-left: 5px;
}

form[name="user-invite-form-add"] .email-to {
    padding: 0 10px;
    font-size: 11px;
    margin-bottom: 3px;
}

form[name="user-invite-form-add"] input[name*="email"] {
    border: none;
    padding: 5px 10px;
    display: block;
    width: 100%;
    border: 1px solid;
    margin-bottom: 20px;
}

form[name="user-invite-form-add"] .richText {
    border: 1px solid;
    margin-bottom: 10px;
}

form[name="user-invite-form-add"] .richText .richText-editor {
    padding: 10px;
}

form[name="user-invite-form-add"] .button {
    padding: 0 20px;  
    line-height: 34px;
}

form[name="user-invite-form-add"] .button.save {
    border: 1px solid #ffd20a;
}

form[name="user-invite-form-add"] .button.continue {
    padding-right: 45px;
    position: relative;
}

form[name="user-invite-form-add"] .button.continue:before,
form[name="user-invite-form-add"] .button.continue:after {
    background: url("/../static/img/icon_arrow_right_black.png");
    background-repeat: no-repeat;
    background-size: 100% !important;
    content: "";
    transition: 0.3s;
    position: absolute;
    width: 18px;
    height: 8px;
    top: 13px;
    right: 15px;
    opacity: 1 !important;
}

form[name="user-invite-form-add"] .button.back {
    color: black;
    background: white;
    border: 1px solid black;
    padding-left: 45px;
    position: relative;
}

form[name="user-invite-form-add"] .button.back:before,
form[name="user-invite-form-add"] .button.back:after {
    background: url("/../static/img/icon_arrow_left_black.png");
    background-repeat: no-repeat;
    background-size: 100% !important;
    content: "";
    transition: 0.3s;
    position: absolute;
    width: 18px;
    height: 8px;
    top: 13px;
    left: 15px;
    opacity: 1 !important;
}

form[name="user-invite-form-add"] .user-invite-email .title {
    text-transform: inherit;
    font-family: FiraSans Regular;   
}

form[name="user-invite-form-add"] .user-invite-email .error {
    display: none;
}

form[name="user-invite-form-add"] .error p:last-child {
    margin-bottom: 0;
}

.user-invite-permission .row {
    width: calc(100% + 10px);
    margin-left: -5px;
}

.user-invite-permission ul {
    margin-bottom: 20px;
}

.user-invite-permission ul li {
    padding: 0 10px 5px;
    width: calc(100% - 10px);
    margin-left: 5px;
    text-transform: uppercase;
}

.user-invite-permission ul.country li {
    text-transform: capitalize;
}

.user-invite-permission .sub-title input[type="checkbox"],
.user-invite-permission ul li input[type="checkbox"] {
    margin-right: 5px;
}

.user-invite-modal .output .success {
    border: 1px solid #05b87f;
    padding: 10px;
    background: white;
    color: #05b87f;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
}

@media (max-width: 810px) {
    .user-invite-modal .modal-dialog {
        width: calc(100% - 10px);
        margin: 250px 5px;
    }
}

@media (max-width: 767px) {
    .user-invite-modal input.small {
        width: 100%;
    }

    .user-invite-modal form button {
        margin-top: 10px;
    }

}

@media (max-width: 610px) {
    .user-invite-modal .modal-dialog {
        width: calc(100% - 10px);
        margin: 250px 5px;
    }
}

@media (max-width: 480px) {
    .user-invite-button p.desktop {
        display: none;
    }

    .user-invite-button p.mobile {
        display: inline-block;
    }
}