.area-wysiwyg {
    margin-bottom: 50px;
    min-height: 500px;
    padding: 0 20px;
}

.area-wysiwyg .content {
    margin: 50px 0 80px;
}

.area-wysiwyg .title-block .title {
    font-size: 28px;
    font-family: FiraSans Medium;
    text-align: center;
    display: inline-block;
}

.area-wysiwyg .close-screen {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 15px;
    cursor: pointer;
}

.area-wysiwyg .close-screen::before {
    content: "";
    background: url("/../static/img/icon_X.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 0;
}

@media (max-width: 1470px) {
    .area-wysiwyg {
        padding: 0 15px;
    }
}